.iconname{
  height: 170px;
  width: 167px;
}
.icon{
  height: 55px;
  width: 68px;
}
.perfil{
  height: 154px;
  width: 154px;
}
.burge{
  height: 26px;
  width: 40px;
  margin-bottom: 8px;
}

.homeicon{
  height: 30px;
  width: 35px;
  margin-bottom: 8px;
}
.image{
  height: 180px;
  width: 276px;
}