.iconname{
  height: 170px;
  width: 167px;
}
.icon{
  height: 55px;
  width: 68px;
}
.bigiconname{
  height: 250px;
  width: 245.5px;
}
.default{
  height: 180px;
  width: 180px;
  z-index: 1;
}
.perfil{
  height: 180px;
  width: 180px;
  z-index: 1;
  border-radius: 50%;
}
.burge{
  height: 26px;
  width: 40px;
  margin-bottom: 8px;
}

.homeicon{
  height: 30px;
  width: 35px;
  margin-bottom: 8px;
}
.image{
  height: 180px;
  width: 276px;
  margin-bottom: 36px;
  border-radius: 10px;
}
.logo-branca{
  width: 150px;
  height: 91px;
  margin-bottom: 20%;
}
.copy{
  width: 17px;
  height: 19px;
  margin-left: 8px;
}

@media screen and (min-width: 1440px){
  .bigiconname{
    height: auto;
    width:  35vh;
  }
}