.footer {
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2d0065;
    padding: 10px;
    width: 100%;
    grid-row: 3;
}