.head-home{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 24px;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 24px;
}
