.cancelar{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    width: 129px;
    height: 49px;
}
.criar{
    width: 129px;
    height: 49px;
}
.button-box{
    display: flex;
    justify-content: space-between;
    width: 276px;
    height: 50px;
}
.add{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid var(--gray);
    color: var(--gray);
    width: 129px;
    height: 49px;
    align-self: flex-end;
    margin: 8px;
}
.modal{
    background: white;
    color: black;
    width: 100%;
    height: 40px;
    border-radius: 30px;
}
.convidar{
    background: var(--secondary-color);
    width: 129px;
    height: 49px;
}
.edit{
    background: none;
    color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
    width: 100%;
    height: 40px;
    border-radius: 30px;
}
.editar{
    background: none;
    color: var(--secondary-color);
    border: solid 2px var(--secondary-color);
    width: 129px;
    height: 49px;
}