.container{
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: var(--light-gray);
    padding: 10%;
    padding-bottom: 20%;
    border-radius: 10px;
    margin-bottom: 30px;
}
.container table{
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
}
.container table tr th{
    height: 56px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .25px;
    text-align: left;
    padding: 0 10px;
}
.container table tr.item td{
    border-bottom: 1px solid var(--gray);
    padding: 0 10px;
}
.container table tr.item{
    height: 60px;
}
.container table tr td {
    vertical-align: middle;
    width: 20%;
    font-size: 16px;
    letter-spacing: 0.25px;
}
.botao{
    width: 100px;
}