.info{
    margin: 8px 0px;
    padding: 16px;
    border-radius: 10px;
    width: 276px;
    height: 49px;
    background-color: var(--light-gray);
    border: None;
}
.top{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}
.botao{
    margin-left: auto;
}
details{
    margin: 8px 0px;
}
section{
    margin-bottom: 24px;
}