.head{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    padding: 24px;
  }
  .nome{
    width: 280px;
    height: 74px;
  }
  .p{
    background: none;
    padding: 0px;
    border-radius: 0px;
    color: black;
    margin: 8px;
  }
  .uploadimg{
    display: flex;
    z-index: 2;
  }
  .uploadLabel {
    display: inline-block;
    cursor: pointer;
  }
  input[type= "file"]{
    display: none;
  }
  button:disabled{
    background-color: var(--light-gray);
  }


  