@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap');

:root{
  --primary-color: #f84791;
  --secondary-color: #7000FF;
  --tertiary-color: #7000FF;
  --background-color: linear-gradient(to bottom, var(--primary-color), var(--secondary-color),var(--tertiary-color));
  --accent-color: #FB1F46;
  --light-accent-color: #F84767;
  --light-gray: #D9D9D9;
  --gray: #474747;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Koho, sans-serif;
  font-weight: 400;
}

html, body, #root{
  background: var(--background-color);
  background-size: cover;
  align-items: center;
  font-size: 14px;
  max-width: 100vh;
  min-height: 100vh;
}
h1{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 50px;
}

.page{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 32px;
  width: 100vw;
  min-height: 100vh;
  display: grid;
}


button{
  width: 276px;
  height: 49px;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin: 8px 0px;
}
.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 8px 8px;
}
a {
  color: var(--accent-color);
  margin: 8px;
}
span{
  color: white;
  
}
p{
  background-color: var(--secondary-color);
  margin: 0px 8px 8px;
  padding: 8px;
  border-radius: 0px 20px 20px;
}


/* desktop */

.main-container{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .page{
    grid-gap: 10px;
  }
  .main-container {
    flex-direction: row;
    padding: 0 2vw;
    margin-top: 10vh
  }
  .main-container.main-principal{
    justify-content: space-between;
    height: 80vh;
  }
  

}

@media screen and (min-width: 1400px){
  
}